<h1><%= @rick.username %></h1>
<% if @rick.photo.attached? %>
  <%= cl_image_tag @rick.photo.key, height: 80, width: 80, crop: :fill, gravity: :face %>
<% end %>
<p><%= @rick.bio %></p>
<%= link_to 'Back', :back %>
