<div class="row justify-content-center p-4">
  <div class="col-12 col-md-6 col-lg-4">
    <h2 class="mb-4">Edit your Morty</h2>
    <%= render 'form', morty: @morty %>
    <%= link_to 'See you Morty', @morty, class:'btn btn--yellow mr-2' %>
    <%= link_to "Back", morties_path, class:'btn btn--green' %>
  </div>  
</div>
