// Define variables for your color scheme

// For example:
$red: rgb(205,108,120);
$blue: rgb(39,34,90);
$yellow: rgb(248,242,106);
$orange: rgb(244,122,68);
$green: rgb(17,225,182);
$greendark: rgb(127,168,157);
$gray: #0E0000;
$light-gray: #F4F4F4;
