// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Slime Tag Regular|Work+Sans:400,700&display=swap');


@font-face {
  font-family: "get-schwifty";
  src: font-url('get-schwifty/get-schwifty.ttf') format('truetype');
  font-weight: normal;
}

$my-font: "get-schwifty";
// Define fonts for body and headers
$body-font: "Helvetica Neue";
$body-font-bold: "Helvetica Neue Bold";
$headers-font: $my-font, "Helvetica", "sans-serif";


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
