<a class="btn btn--yellow" href="#">Update</a>
<a class="btn btn--red" href="#">Delete</a>
<a class="btn btn--green" href="#">Buy now</a>

<div class="container">
<div class="card profile">
<div class="avatar">
  <img class="avatar profilepic" src="https://avatarfiles.alphacoders.com/128/128984.png">
</div>
<div>
<h1>CSS Rick</h1>
<h3>Bio</h3>
<p>Totally broken because of fucking CSS</p>
</div>
</div>
</div>
<p>


</p>
<p>


</p>

<div class="content">
  <div class="cards">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2j8J9I3ZkO1ShSbI_ABmoicuWABqxuWjPMg&usqp=CAU)">
        Morty
      </div>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i0.wp.com/twinfinite.net/wp-content/uploads/2017/07/pocketmortyupdate.png?w=700&ssl=1)">
        Bunch of weirdos
      </div>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQmkFOp26Cw3XXFTFdc5-13LUaqE0GBxZyM_A&usqp=CAU)">
        Excited Rick
      </div>
  </div>
</div>
