<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://uploads.jovemnerd.com.br/wp-content/uploads/2019/02/rick-morty-50-hq.jpg);">
  <div class="container">
    <h1>Get rich, Rick!</h1>
    <p>Sell your Morty and make money.</p>
  </div>
</div>


<div class="container">
</div>
