.alert {
  font-family: 'Helvetica Neue', sans-serif;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  width: 400px;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0, .8);
  border: 1px solid $green;
  @media (max-width: 575.98px) {
    font-size: .8em;
    width: 150px;
    right: 8%;
  }
}

#close {
  position: absolute;
  font-weight: bold;
  right: 2%;
  top: 0;
  color: $green;
  cursor: pointer;
  @media (max-width: 575.98px) {
    display: none;
  }
}

#close:hover {
  color: white;
}

.disappear {
  opacity: 0;
  transition: .5s;
}
