.banner1 {
  background-size: cover;
  background-position: right 0% bottom 68%;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 50%), asset-url('banner1.png');
  h1{
    font-family: $my-font;
    color: $yellow;
    text-shadow: 0 0px 2px $gray;
    font-size: 4.2em;
  }
  p {
    font-size: 30px;
    color: white;
    opacity: .8;
    text-shadow: 0px 0px 3px $green;
    margin-bottom: 1.5em;
  }
  @media (max-width: 575.98px) {

    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 50%), asset-url('banner1mobile.png');
    h1 {
      margin-bottom: .5em;
      line-height: 1.5em;
    }

  }
}
 
.banner2 {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 50%), asset-url('banner2.png');
  h1{
    font-family: $my-font;
    color: $yellow;
    text-shadow: 0 0px 2px $gray;
    font-size: 4.2em;
  }
  p {
    font-size: 30px;
    color: white;
    opacity: .8;
    text-shadow: 0px 0px 3px $green;
    margin-bottom: 1.5em;
  }
  @media (max-width: 575.98px) {
    background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.6) 50%), asset-url('banner2mini.png');
    h1 {
      margin-bottom: .5em;
      line-height: 1.5em;
    }
  }
}