a.sciFi-button{
  line-height: 50px;
}

.sciFi-button {
    color: $green;
    border: 1px rgba($green, 0.2) solid;
    font: $body-font;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 50px;
    outline: 0;
    opacity: 0.7;


  &:hover{
    color: $green;
    border: 1px rgba($green, 0.8) solid;
    opacity: 1;
    animation: fx 0.5s ease-in-out;
    animation-fill-mode: forwards;
    }
  }

@keyframes fx {
  to{
    border-radius: 50px;
  }
}

.btn--yellow {
    color: $yellow;
    border: 1px rgba($yellow, 0.2) solid;
  &:hover{
    color: $yellow;
    border: 1px rgba($yellow, 0.8) solid;
    }
}
.btn--red {
    color: $red;
    border: 1px rgba($red, 0.2) solid;
  &:hover{
    color: $red;
    border: 1px rgba($red, 0.8) solid;
    }
  }
.btn--gray {
color: $gray;
    border: 1px rgba($gray, 0.2) solid;
  &:hover{
    color: $gray;
    border: 1px rgba($gray, 0.8) solid;
  }
}

