a:hover {
  text-decoration: none;
}

.card-trip {
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px $green;
  @media (max-width: 576.98px) {
    box-shadow: 0 0 8px $green;
  }
}

.card-trip:hover {
  box-shadow: 0 0 19px 3px $green;
  text-decoration: none;
  @media (max-width: 576.98px) {
    box-shadow: 0 0 12px 1px $green;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  margin: 0;
  color: $green;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $green;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
