label, .devise_link {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 1px black;

}

label[for="exchange_review"] {
  display: none;
}

#exchange_review {
  width: 100%;
}

.radio_buttons {
  margin-top: 1em;
}

input[type="file"] {
  padding-left: 0;
}
