label, .devise_link {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 1px black;

}

label[for="exchange_review"] {
  display: none;
}

#exchange_review {
  width: 100%;
}

.radio_buttons {
  margin-top: 1em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  border-color: rgba($green, 0) !important;
  background: rgba($green, 0.1) !important;

}
