.navbar-lewagon {
  justify-content: space-between;
  background: rgb(20, 20, 20);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-toggle {
  @media (max-height: 575px) {
    margin-left: auto;
    display: block;
  }
}



