h1{
  font-family: $my-font;
  color: $green;
  text-shadow: 0 0px 2px $yellow;
  font-size: 30px;
}

.navbar-lewagon {
  justify-content: space-between;
<<<<<<< HEAD
  background: rgb(20,20,20);
=======
  background: rgb(20, 20, 20);
>>>>>>> front3
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
