h1{
  font-family: $my-font;
  color: $green;
  text-shadow: 0 0px 2px $yellow;
  font-size: 30px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgb(20,20,20);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#dropdown-button {
  cursor: pointer;
  transition: box-shadow .5s;
}

.active {
  box-shadow: 0 0 8px $green;
}

.navigation-menu {
  position: absolute;
  width: 200px;
  top: 100%;
  right: 0;
  z-index: 2;
  padding: 10px;
  background-color: rgb(20,20,20);
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  transition: .5s opacity, 0s visibility, 0s z-index;
  transition-delay: 0s, 0s, 0s;
  border-radius: 0 0 5px 5px;

}

.navigation-link {
  color: $green;
  font-family: 'helvetica neue', sans-serif;
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 7px 0;

  &:hover {
    color: $green;
    text-shadow: 0 0 2px #f8f26a;
  }
}

.sign-in-link {
  font-weight: bold;
}

.link-border {
  background: linear-gradient(90deg, transparent, $green);
  height: 1px;
  width: 100%;
  position: absolute;
  right: 100%;
}

.navigation-link:hover + .link-border {
  right: -100%;
  transition: right 1s;

}

.collapsed {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition-delay: 0s, .5s, .5s;
}



