.profile-card {
  font-family: 'helvetica neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 40px $green;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  width: 50%;
  background-color: $gray;
  border-radius: 30px;
  color: $green;
  justify-content: space-around;
  width: 500px;
  margin: 0 auto;

  @media (max-width: 575.98px) {
    width: 100%;
  }
  
}

.profilepic {
  width: 120px;
  border-radius: 50%;
  margin-top: 0px;
  padding: 2px;
  box-shadow: 0 0 19px -2px;
}

.profile-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.rick {
  align-items: center;
}

.show-image {
  width: 100%;
  border-radius: 5px;

}

a.link-seller-info {
  position: absolute;
  color: $green;
  right: 12%;
  top: 5%;
  z-index: 1;
  @media (max-width: 575.98px) {
    display: none;
    }
}

.display_none {
  display: none;
}
