.profile{
    box-shadow: 5px 5px 40px $green;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    width: auto;
    background-color: $gray;
    border-radius: 30px;
    margin: 50px;
    color: $green;
}

.profilepic {
  width: 120px;
    border-radius: 50%;
    margin-top: -80px;
}
