.profile-card {
  font-family: 'helvetica neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 5px 40px $green;
  padding: 30px;
  width: 50%;
  background-color: $gray;
  border-radius: 30px;
  color: $green;
  width: 500px;
  min-height: 500px;
  margin: 0 auto;

  @media (max-width: 575.98px) {
    width: 100%;
  }
  
}

.profilepic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 0px;
  padding: 2px;
  box-shadow: 0 0 19px -2px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.info {
}

.pic {
  height: 350px;
  width: 100%;
  margin-top: 4%;
  @media (max-width: 575.98px) {
    margin-top: 8%;
  }
}

.rick {
  align-items: center;
}

.show-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;

}

a.link-seller-info {
  position: absolute;
  color: $green;
  right: 7%;
  top: 5%;
  z-index: 1;
  @media (max-width: 575.98px) {
    display: none;
    }
}

.display_none {
  display: none;
}
